<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        container fluid.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias assumenda debitis doloremque facilis, illo in laudantium, officia quod saepe vel veritatis! Corporis impedit ipsum nemo nisi optio quasi veniam!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias assumenda debitis doloremque facilis, illo in laudantium, officia quod saepe vel veritatis! Corporis impedit ipsum nemo nisi optio quasi veniam!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias assumenda debitis doloremque facilis, illo in laudantium, officia quod saepe vel veritatis! Corporis impedit ipsum nemo nisi optio quasi veniam!
    </div>
  </div>
</div>