<div class="container">

    <ng-container>
        <button [ngClass]="firstButtonClass" (click)="first()">First</button>
    </ng-container>

    <ng-container>
        <button [ngClass]="previousButtonClass" (click)="previous()">Previous</button>
    </ng-container>

    <ng-container *ngIf="showFinish">
        <button  [ngClass]="finishButtonEnabledClass" (click)="finish()">Finish</button>
    </ng-container>

    <ng-container *ngIf="!showFinish">
        <button [ngClass]="nextWithoutFinishButtonClass" (click)="next()">Next</button>
        <button [ngClass]="lastButtonClass"              (click)="last()">Last</button>
    </ng-container>
</div>