<div class="h5 bg-info">Boostrap Wizard</div>
<div class="h4">
  <ul>
    <li><a target="_blank" href="https://github.com/VinceG/twitter-bootstrap-wizard">GitHub</a></li>
    <li><a target="_blank" href="http://vinceg.github.io/twitter-bootstrap-wizard/">Examples</a></li>
    <li><a target="_blank" href="http://vinceg.github.io/twitter-bootstrap-wizard/examples/basic-finishbutton.html">Wizard With Finish Button On last tab</a></li>
  </ul>
</div>
<div class="h3 text-center bg-success">Here are some links to help you start:</div>
<div class="h4">
  <ul>
    <li>
      <a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </li>
    <li>
      <a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a>
    </li>
  </ul>
</div>